# Host requirements for Sire.

gsl
lazy_import
libboost-devel
libboost-python-devel
libcblas
libnetcdf
librdkit-dev > 2024.09.6
openmm >= 8.1
pandas
python
qt-main
rich
tbb
tbb-devel
gemmi >=0.6.4<0.7.0

# kartograf on Windows pulls in an openfe that has an old / incompatble
# ambertools
kartograf >= 1.0.0 ; sys_platform != "win32"
