# Test requirements. These aren't needed by Sire, but if installed, will
# enable test to run to validate advanced functionality

rdkit >=2023.0.0

# gemmi::Structure objects
# can't be resolved on Windows with 0.6.5
gemmi ==0.6.4 ; sys_platform == "win32"
gemmi >=0.6.4 ; sys_platform != "win32"

# kartograf on Windows pulls in an openfe that has an old / incompatble
# ambertools
kartograf >= 1.0.0 ; sys_platform != "win32"
