name: Release Main

# Note that push and pull-request builds are automatically
# now skipped by GitHub if
# [skip ci], [ci skip], [no ci], [skip actions], or [actions skip]
# are in the commit message. We don't need to check for this ourselves.

# Only allow this action to run on a manual run.
# We should specify when run whether or not we want
# to upload the packages at the end. We may not want to,
# as we need to wait for a major or patch release
on:
  workflow_dispatch:
    inputs:
      upload_packages:
        description: "Upload packages to anaconda (yes/no)?"
        required: true
        default: "no"
jobs:
  build:
    name: build (${{ matrix.python-version }}, ${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.os }}
    strategy:
      max-parallel: 9
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        platform:
          - { name: "windows", os: "windows-latest", shell: "pwsh" }
          - { name: "linux", os: "ubuntu-latest", shell: "bash -l {0}" }
          - { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
        exclude:
          - platform:
              { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
            python-version: "3.12"  # MacOS can't run 3.12 yet...
    environment:
      name: sire-build
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    env:
      SIRE_DONT_PHONEHOME: 1
      SIRE_SILENT_PHONEHOME: 1
      SIRE_EMLE: 1
      REPO: "${{ github.event.pull_request.head.repo.full_name || github.repository }}"
    steps:
      #
      - uses: actions/checkout@v4
        with:
          ref: main
      #
      - name: Install rattler-build
        uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          tool-version: latest
          build-args: --help
      #
      - name: Generate recipe
        run: python ${{ github.workspace }}/actions/generate_recipe.py --features bss emle
      #
      - name: Write Python variant config
        shell: bash
        run: printf 'python:\n  - "${{ matrix.python-version }}"\n' > "${{ github.workspace }}/python_variant.yaml"
      #
      - name: Build package using rattler-build
        shell: bash
        run: rattler-build build --recipe "${{ github.workspace }}/recipes/sire" -c conda-forge -c openbiosim/label/dev --variant-config "${{ github.workspace }}/python_variant.yaml"
      #
      - name: Upload package
        # upload to the 'test' channel
        run: python ${{ github.workspace }}/actions/upload_package.py test
        env:
          SRC_DIR: ${{ github.workspace }}
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        if: github.event.inputs.upload_packages == 'yes'
