name: Pull-Request

# Note that push and pull-request builds are automatically
# now skipped by GitHub if
# [skip ci], [ci skip], [no ci], [skip actions], or [actions skip]
# are in the commit message. We don't need to check for this ourselves.

on:
  pull_request:
    branches: [devel, main]

jobs:
  build:
    name: build (${{ matrix.python-version }}, ${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.os }}
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        platform:
          - { name: "windows", os: "windows-latest", shell: "pwsh" }
          - { name: "linux", os: "ubuntu-latest", shell: "bash -l {0}" }
          - { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
        exclude:
          # Exclude all but the latest Python from all
          # but Linux
          - platform:
              { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
            python-version: "3.9"
          - platform: { name: "windows", os: "windows-latest", shell: "pwsh" }
            python-version: "3.9"
          - platform:
              { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
            python-version: "3.10"
          - platform: { name: "windows", os: "windows-latest", shell: "pwsh" }
            python-version: "3.10"
    environment:
      name: sire-build
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    env:
      SIRE_DONT_PHONEHOME: 1
      SIRE_SILENT_PHONEHOME: 1
      REPO: "${{ github.event.pull_request.head.repo.full_name || github.repository }}"
    steps:
      #
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: sire_build
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true
      #
      - name: Clone the feature branch (pull request to devel)
        run: git clone -b ${{ github.head_ref }} --single-branch https://github.com/${{ env.REPO }} sire
      #
      - name: Setup Conda
        run: mamba install -y -c conda-forge boa=0.16 anaconda-client packaging=21 pip-requirements-parser
      #
      - name: Update Conda recipe
        run: python ${{ github.workspace }}/sire/actions/update_recipe.py
      #
      - name: Prepare build location
        run: mkdir ${{ github.workspace }}/build
      #
      - name: Build Conda package using mamba build
        run: conda mambabuild -c conda-forge -c openbiosim/label/dev ${{ github.workspace }}/sire/recipes/sire
