name: Pull-Request

# Note that push and pull-request builds are automatically
# now skipped by GitHub if
# [skip ci], [ci skip], [no ci], [skip actions], or [actions skip]
# are in the commit message. We don't need to check for this ourselves.

on:
  pull_request:
    branches: [devel, main]

jobs:
  build:
    name: build (${{ matrix.python-version }}, ${{ matrix.platform.name }})
    runs-on: ${{ matrix.platform.os }}
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        platform:
          - { name: "windows", os: "windows-latest", shell: "pwsh" }
          - { name: "linux", os: "ubuntu-latest", shell: "bash -l {0}" }
          - { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
        exclude:
          # Exclude all but the latest Python from all
          # but Linux
          - platform:
              { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
            python-version: "3.10"
          - platform: { name: "windows", os: "windows-latest", shell: "pwsh" }
            python-version: "3.10"
          - platform:
              { name: "macos", os: "macos-latest", shell: "bash -l {0}" }
            python-version: "3.12"  # MacOS can't run 3.12 yet...
          - platform: { name: "windows", os: "windows-latest", shell: "pwsh" }
            python-version: "3.11"
    environment:
      name: sire-build
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    env:
      SIRE_DONT_PHONEHOME: 1
      SIRE_SILENT_PHONEHOME: 1
      SIRE_EMLE: 1
      REPO: "${{ github.event.pull_request.head.repo.full_name || github.repository }}"
    steps:
      #
      - uses: actions/checkout@v4
      #
      - name: Install rattler-build
        uses: prefix-dev/rattler-build-action@v0.2.34
        with:
          tool-version: latest
          build-args: --help
      #
      - name: Generate recipe
        run: python ${{ github.workspace }}/actions/generate_recipe.py --features bss emle
      #
      - name: Write Python variant config
        shell: bash
        run: printf 'python:\n  - "${{ matrix.python-version }}"\n' > "${{ github.workspace }}/python_variant.yaml"
      #
      - name: Build package using rattler-build
        shell: bash
        run: rattler-build build --recipe "${{ github.workspace }}/recipes/sire" -c conda-forge -c openbiosim/label/dev --variant-config "${{ github.workspace }}/python_variant.yaml"
